@model OfficeFlow.Application.Users.Models.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.FirstName @Model.LastName</h1>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Drugie imię
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Numer telefonu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Data urodzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Rola
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            Kraj
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            Miasto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Kod pocztowy
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            Ulica
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            Numer budynku
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2">
            Numer mieszkania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>
    </dl>
</div>
<td>
    <a class="btn btn-outline-warning" asp-action="Index">Wróć do listy</a>
</td>
<td>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-publicId="@Model.PublicId">Edytuj</a>
</td>
