@model IEnumerable<OfficeFlow.Application.EFiles.Models.ListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>E-teczki</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Utwórz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Numer folderu
            </th>
            <th>
                Miejsce przechowywania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
                <td style ="text-align: right">
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="EFiles" asp-action="Details" asp-route-publicId="@item.PublicId">Szczegóły</a>
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="EFiles" asp-action="Edit" asp-route-publicId="@item.PublicId">Edytuj</a>
                    <a class="btn btn-outline-dark" asp-area="" asp-controller="EFiles" asp-action="Delete" asp-route-publicId="@item.PublicId">Usuń</a>
                </td>
        </tr>
}
    </tbody>
</table>
